body {
  background-color: #04080e;
}

.App {
  background-color: #04080e;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.screen {
  width: 100%;
  padding: 42px 24px;
}



.item {
  margin-bottom: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  font-size: 18px;
  color: white;
  background-color: #04080e;
  padding: 4px 8px;
  border: 3px solid #fff;
  border-radius: 4px;
  outline: none !important;
  transition: all .4s;
}

.error button {
  box-shadow: 0 0 14px #f30919;
}

button:active {
  opacity: .7;
}

input {
  display: flex;
  padding: 4px 8px;
  margin-bottom: 16px;
  width: 160px;
  border-radius: 4px;
  text-align: center;

  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Caveat', cursive;
  line-height: 24px;

  border: none;
  outline: none;
}
